numpy==1.26.4
pandas
scikit-learn
xgboost
shap==0.44.1
evidently==0.4.16
streamlit
google-genai
matplotlib
seaborn
mlflow==2.8.1
plotly==5.18.0
psutil==5.9.6
protobuf==4.25.3
plotly==5.18.0